<%- include("partials/head") %> <%- include("partials/header") %>

<h2>Edit Book</h2>

<form method="POST" action="/books/update/<%= book._id %>">
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />

  <label
    >Book Title:
    <input name="title" value="<%= book.title %>" required /> </label
  ><br />

  <label
    >Author:
    <input name="author" value="<%= book.author %>" required /> </label
  ><br />

  <label
    >Genre:
    <input name="genre" value="<%= book.genre %>" /> </label
  ><br />

  <label
    >Rating:
    <input
      name="rating"
      type="number"
      min="1"
      max="5"
      value="<%= book.rating %>"
    /> </label
  ><br />

  <label
    >Review:
    <textarea name="review"><%= book.review %></textarea></label
  ><br />

  <label
    >Banned Reason:
    <input name="bannedReason" value="<%= book.bannedReason %>" /> </label
  ><br />

  <button>Update Book</button>
</form>

<%- include("partials/footer") %>
